{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Hra</h3>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div>
        <div style="display: inline-block;">
            <form method="POST" action="/game">
                {{ answer_form.answer.label }}:<br>
                {{ answer_form.answer() }}<br>
                {{ answer_form.button_send() }}
            </form>
        </div>
        <div style="float: right;">
            <form method="POST" action="/game" onsubmit="return confirm('Opravdu chcete nápovědu?');">
                {{ help_form.button_help() }}
            </form>
        </div>
    </div>
    <hr>
    {% for action, site in all_actions %}
        {% if action.success %}
            <div class="correct">
                {{ moment(action.timestamp).format('LLL') }} <br>
                Stanoviště čislo {{ site.site_number }} <br>
                {% if action.action_state == 1 %}
                    Příchod: {{ site.entry_pass }}
                {% elif action.action_state == 2 %}
                    Nápověda 1: {{ site.help_1_text }}
                {% elif action.action_state == 3 %}
                    Nápověda 2: {{ site.help_2_text }}
                {% elif action.action_state == 4 %}
                    Odchod: {{ site.next_site_location }}
                {% elif action.action_state == 5 %}
                    Dead: {{ site.next_site_location }}
                {% endif %}
            </div>
        {% else %}
            <div class="incorrect">
                {{ moment(action.timestamp).format('LLL') }} <br>
                Stanoviště čislo {{ site.site_number }} <br>
                {% if action.action_state == 1 %}
                    Pokus o příchod, špatné heslo: {{ action.guess }}
                {% elif action.action_state == 4 %}
                    Pokus o odchod, špatné heslo: {{ action.guess }}
                {% endif %}
            </div>
        {% endif %}
        <hr>
    {% endfor %}
</div>
{% endblock %}
