{% extends "base.html" %}

{% block content %}
<h1 class="title" style="text-align:center">
  Pravidla
</h1>
<p class="text" style="text-align:left">
  Závodníku, těší nás tvůj zájem. Zde je základní přehled všeho důležitého, co potřebuješ vědět, než nám v zápětí sdělíš své jméno v přihlášce. </p><br>
  <h3> PRŮBĚH: </h3><br>
  <p>Po obdržení herního vybavení si v určený čas otevřete zadání první šifry a po jejím <br> vyluštění se vydáte na cestu. <br>
  Během zesty vás příběh zavede na nespočet zastávek s dalšími úkoly a šiframi. <br>
  Společně s vámi však vyrazí i několik dalších týmů a bude jen na vás, zda zvolíte <br>
  rychlejší cestu, budete šikovnější v luštění šifer nebo zvládnete splnit více tzv. <br>
  sidequestů. <br>
  Všechny výsledky pak budete zadávat do naší webové stránky s vašimi přihlašovacími jadijadijada</p><br>
<p>;)</p><br>
<p>;)</p><br>
<p>;)</p><br>
<p>;)</p><br>
<p>;)</p><br>
<p>;)</p><br>
<p>;)</p><br>
<p>;)</p><br>
<p>;)</p><br>
<p>tak tě tu máme, objevil jsi jednu z našich skrýší. tahle hádanka není moc složitá, takže doufám, že na 12 tom nestrávíš i sovji Minulost.</p><br>
<p>co je to Čas? stav 12 dění, budoucnost, něco co nelze zastavit. dá se vůbec s Časem hýbat nebo Minulost měnit? aristoteles nám říká, že Čas je počítaný pohyb vzhledem k "před" a "po".
    pohybem se zde rozumí pravidelné střídání dne a noci, léta a zimy, zdánlivý pohyb slunce po obloze, a času je tu - stejně jako pro nás - nejspíše číslo, počet.
    je-li Čas „počítaný pohyb“, musí 12 tu být i někdo (nebo něco), kdo pohyby počítá; podle aristotela je to duše.
    aristoteles rozlišoval mezi Minulostí, přítomností a budoucností jako mezi třemi aspekty času. Minulost je to, co již nastalo a nemůže být změněno. Minulost tedy existuje jako koncept, ale už nemá skutečnou existenci.
    kant vnímal Čas jako jednu ze základních forem vnímání, které nám umožňují organizovat zkušenosti. v jeho díle kritika čistého rozumu tvrdí, že Čas není objektivní vlastností světa, ale spíše strukturou našeho vědomí.
    kant se také zajímal 12 o to, jak historické události ovlivňují naše chápání Času a reality. kategorizace Minulosti a její analýza jsou pro něj důležité pro rozvoj etických a epistemologických rámců.
    pro kanta je Minulost důkazem o tom, co je možné a jakým způsobem se vyvíjí naše poznání. Každá Historická Událost může sloužit jako příklad pro 12 zkoumání našich morálních a epistemologických přesvědčení.<br>
    co je Čas pro tebe?</p><br>
<p>ps: malá gratulace už teď. jedna nápověda k šifře, jež vás po cestě bude čekat, se octne zde v páteční podvečer (11.10.). Pro fajnšmekry se dá dostat i dále. Podívej se na instagram viz text výše a zadej opět správnou URL adresu.</p>

{% endblock %}