{% extends "base.html" %}

{% block content %}
<h1 class="title" style="text-align:center">
  Krtkobraní - pravidla
</h1> <br>
<p class="text" style="text-align:left">
  Závodníku, těší nás tvůj zájem, zde je základní přehled všeho důležitého, co potřebuješ <br> vědět, než nám v zápětí sdělíš své jméno v přihlášce. <br>
  PRŮBĚH: <br>
  Po obdržení herního vybavení si v určený čas otevřete zadání první šifry a po jejím <br> vyluštění se vydáte na cestu. <br>
  Během cesty vás příběh zavede na nespočet zastávek s dalšími úkoly a šiframi. <br>
  Společně s vámi však vyrazí i několik dalších týmů a bude jen na vás, zda zvolíte <br>
  rychlejší cestu, budete šikovnější v luštění šifer nebo zvládnete splnit více tzv. <br>
  sidequestů. <br>
  Všechny výsledky pak budete zadávat do naší webové stránky s vašimi přihlašovacími <br>
  údaji. <br>
  TVŮJ TÝM A VOZIDLO <br>
  Pokud chceš jet sólo, budeš to mít těžké, ale určitě můžeš. My však doporučujeme 2-3 <br>
  spoluhráče, aby ti pomohli s navigací a luštěním. Ne však více, než 7. <br>
  Doporučení je auto. Klidně diesel, klidně benzín, klidně elektrika, je to jen na tobě. <br>
  Motorka? Jasný, klidně i více do jednoho týmu. Traktor, náklaďák, buldozer či vrtulník? <br>
  Fantasii se meze nekladou, jen mysli na to, že Krtkobraní zabere celý den a ne všude <br>
  se dá přistát. <br>
  PŘIHLAŠOVÁNÍ A STARTOVNÉ <br>
  Přihlašování probíhá přes náš web v sekci registrace. Po zaregistrování dostane každý <br>
  kapitán informace o platbě. <br>
  Startovné pro Krtkobraní činí 350 Kč za osobu při uhrazení do 31.7. 2024 nebo 400 Kč <br>
  při uhrazení do 1.9. 2024. V ceně, kromě výborné zábavy a organizace, je tričko s <br>
  logem hry, které získá každý účastník, hromada materiálů pro hru, webovky, vstupné k <br>
  jedné z šifer a také mírná ekologická kompenzace. <br>
  NEJZÁKLADNĚJŠÍ PRAVIDLA, aka PRINCIPY HRY <br>
  Bez nápověd k šifrám, pokud ti je nedá náš web. <br>
  Bez elektronické mapy nebo navigace. Hezky postaru výhradně s mapami od nás <br>
  Bez přítele na telefonu <br>
  A vlastně úplně bez technologií, jen s výjimkou tvého vozidla a telefonu, kde jen zadáš <br>
  do webu náležité hesla, co se po cestě dozvíš <br>
  Jeď bezpečně podle pravidel silničního provozu. <br>
  Nehledej způsoby, jak podvádět. Je to hra a tu si máš užít! <br>
  Takže slovy Bleska McQueena, Ka Ciao a těšíme se na startu!
</p>
{% endblock %}